*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
body{
    width: 100%;
    height: 729px;
    background-color: #F4F4F4;
    position: relative;
}
.header{
    width: 100%;
    height: 50px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    align-items: center;
}
.header h1{
    width: 124px;
    height: 30px;    
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.header nav{
    display: flex;
    gap: 52px;
}
.header nav a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;    
}
.header nav a:nth-child(1){
    color: #FFFFFF8C;
}
.header input{
    width: 240px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
    padding: 7px 100px 6px 13px;
    color: #A9A9A9;
    font-size: 12px;
    font-family: "Roboto";
}
.main{
    width: 100%;
    height: 629px;
    display: flex;
    justify-content: center;

}
.main .container{
    width: 95%;
    height: 80%;
    margin-top: 25px;
    background-color: white;
    display: flex;
}
.main .container .questionNav{
    padding: 16px;
    width: 200px;
    height: 100%;
    border-right: 2px solid #CCCCCC;
}
.main .container .questionNav h2{
    font-weight: 500;
    font-size: 22px;
}
.main .container .questionNav .nav{
    width: 167px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 20px;
}
.main .container .questionNav .nav .questions{
    width: 27px;
    height: 27px;
    border-radius: 6px;
    border: none;
    background-color: #f7f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .container .questionNav .nav .selected{
    color: white;
    background-color: #0D6EFD;
}
.main .container .questionNav b{
    font-weight: 800;
    font-size: 12.5px;
}
.main .container .content{
    padding: 16px;
    width: 100%;
    position: relative;
}
.main .container .content h1{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
}
.main .container .content h2{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
}
.main .container .content p{
    font-size: 14.5px;
    margin-bottom: 20px;
}
.main .container .content .answer{
    height: 24px;
    display: flex;
    align-items: center;
    gap: 7px;
    line-height: 24px;
}
.main .container .content .answer label{
    font-size: 16px;
}
.main .container .content .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.main .container .content .buttons .navButtons{
    display: flex;
    gap: 50px;
}
.main .container .content #doneTest{
    width: 99px;
    height: 38px;
    border-radius: 6px;
    background-color: #198754;
    border: 1px solid #198754;
    color: white;
    font-size: 14.5px;
    margin-top: 25px;
}
.main .container .content #goBack{
    width: 65px;
    height: 38px;
    border-radius: 6px;
    background-color: #6C757D;
    border: 1px solid #6C757D;
    color: white;
    font-size: 14.5px;
    margin-top: 25px;
}
.main .container .content #goForward{
    width: 65px;
    height: 38px;
    border-radius: 6px;
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
    color: white;
    font-size: 14.5px;
    margin-top: 25px;
}
.main .container .testTime{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 100px;
    right: 75px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer div{
    width: 1888px;
    height: 22px;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;    
    text-align: center;   
}
.popUpBackground{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    display: none;
}
.resultPopUp{
    position: fixed;
    top: 6%;
    left: 35%;
    height: fit-content;
    width: 30%;
    background-color: white;
    border-radius: 8px;
    display: none;
}
.resultPopUp .top{
    padding: 11px;
    display: flex;
    justify-content: flex-end;
    font-size: 27.5px;
    border-bottom: 1px solid #DEE2E6;
    color: #818181;
}
.resultPopUp .mid{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #DEE2E6;
}
.resultPopUp .mid h1{
    font-size: 29px;
    font-weight: 500;
}
.resultPopUp .mid .green{
    background-color: #D1E7DD;
    width: 100%;
    height: 160px;
    border: 1px solid #A3CFBB;
    border-radius: 6px;
    color: #0A3622;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.resultPopUp .mid .green h2{
    font-size: 21px;
    font-weight: 500;
}
.resultPopUp .mid .green h2 b{
    font-weight: 700;
}
.resultPopUp .mid .green hr{
    border-color: #0A3622;
    opacity: 0.25;
}
.resultPopUp .grey{
    width: 100%;
    height: 200px;
    border: 1px solid #0000002D;
    border-radius: 6px;
}
.resultPopUp .grey .greyTop{
    border-bottom: 1px solid #0000002D;
    padding: 12px;
    background-color: #f8f8f8;
}
.resultPopUp .grey .greyTop h2{
    font-size: 19px;
    font-weight: 500;
}
.resultPopUp .grey .greyBot{
    padding: 18px 0 25px;
}
.resultPopUp .grey .greyBot p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 23px;
}
.resultPopUp .grey .greyBot p b{
    font-weight: 700;
}
.resultPopUp .bot{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.resultPopUp .bot .buttons{
    margin: 16px;
}
.resultPopUp .bot .buttons #retryButton{
    background-color: #0D6EFD;
    color: white;
    border-radius: 6px;
    width: 110px;
    height: 35px;
    border: none;
}
.resultPopUp .bot .buttons #homeButton{
    background-color: #198754;
    color: white;
    border-radius: 6px;
    width: 110px;
    height: 35px;
    border: none;
}